<div class="container" style="padding-bottom: 20px">
  <h1 class="display-5 text-center py-5 mb-0">Profile</h1>
  <div class="card col-md-6 offset-md-3">
    <div class="card-header">
      <strong><i class="fas fa-chart-line me-2"></i>Your stats</strong>
    </div>
    <div class="card-body">
      <div
        class="d-flex align-items-center justify-content-center"
        role="status"
        *ngIf="loading"
      >
        <div class="spinner-border text-primary">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <ul class="list-group list-group-light" *ngIf="userStats">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Games won
          <span class="badge badge-primary rounded-pill">{{
            userStats.gamesWon
          }}</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Total games played
          <span class="badge badge-primary rounded-pill">{{
            userStats.numOfGamesPlayed
          }}</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Total shots
          <span class="badge badge-primary rounded-pill">{{
            userStats.totalShots
          }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="card col-md-6 offset-md-3 mt-3">
    <div class="card-header">
      <strong><i class="fas fa-user me-2"></i>Edit profile</strong>
    </div>
    <div class="card-body">
      <!-- Profile form -->
      <form [formGroup]="profileForm">
        <div class="d-grid gap-3">
          <div class="d-flex">
            <mdb-form-control class="flex-grow-1 me-2">
              <input
                mdbInput
                type="text"
                id="username"
                class="form-control"
                formControlName="username"
              />
              <label mdbLabel class="form-label" for="username">Username</label>
            </mdb-form-control>
            <button
              mdbRipple
              class="btn btn-primary"
              (click)="updateUsername()"
            >
              Update
            </button>
          </div>
          <mdb-form-control class="flex-grow-1">
            <input
              mdbInput
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              [readonly]="true"
            />
            <label mdbLabel class="form-label" for="name">Name</label>
          </mdb-form-control>
          <mdb-form-control class="flex-grow-1">
            <input
              mdbInput
              type="text"
              id="surname"
              class="form-control"
              formControlName="surname"
              [readonly]="true"
            />
            <label mdbLabel class="form-label" for="surname">Surname</label>
          </mdb-form-control>

          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              [readonly]="true"
            />
            <label mdbLabel class="form-label" for="email">Email</label>
          </mdb-form-control>
        </div>
      </form>
    </div>
  </div>

  <!-- Update password -->
  <div class="card col-md-6 offset-md-3 mt-3">
    <div class="card-header">
      <strong><i class="fas fa-unlock me-2"></i>Update password</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="passwordForm">
        <div class="d-grid gap-3">
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="currentPassword"
              class="form-control"
              formControlName="newPassword"
              required
            />
            <label mdbLabel class="form-label" for="currentPassword"
              >Current password</label
            >
          </mdb-form-control>
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="newPassword"
              class="form-control"
              formControlName="newPassword"
              required
            />
            <label mdbLabel class="form-label" for="newPassword"
              >New password</label
            >
          </mdb-form-control>
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="repeatPassword"
              class="form-control"
              formControlName="repeatPassword"
              required
            />
            <label mdbLabel class="form-label" for="repeatPassword"
              >Repeat password</label
            >
          </mdb-form-control>
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <button mdbRipple class="btn btn-primary">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
