/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.modal-open[style] {
  padding-right: 0px !important;
}

.btn-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.modal-dialog-scrollable {
  height: 100% !important;
}

table {
  table-layout: fixed;
}
td {
  width: 25%;
  padding: 0;
}
th {
  width: 25%;
  padding: 10px;
}
