<div class="container">
  <div class="row">
    <div class="col-xl-8">
      <!-- table1 -->
      <div class="card card-body mt-3 w-100">
        <table
          class="table align-middle text-center table-bordered h-100 w-100"
        >
          <tbody>
            <tr>
              <th scope="col">#</th>
              <th
                scope="col"
                *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
              >
                {{ col }}
              </th>
            </tr>
            <tr
              *ngFor="
                let row of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
              "
            >
              <th scope="row">{{ row }}</th>
              <td
                *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                id="{{ parseRow(row) * 10 + col }}"
              ></td>
            </tr>
          </tbody>
        </table>
        <!-- end table1 -->
      </div>
    </div>

    <div class="col-xl-4">
      <!-- Error -->
      <div
        class="card card-body border border-danger text-danger mt-3"
        *ngIf="errorMessage"
      >
        {{ errorMessage }}
      </div>

      <!-- Destroyer form -->
      <positioning-phase-form
        [shipType]="'Destroyer'"
        [shipsLeft]="destroyerCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Cruiser form -->
      <positioning-phase-form
        [shipType]="'Cruiser'"
        [shipsLeft]="cruiserCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Battleship form -->
      <positioning-phase-form
        [shipType]="'Battleship'"
        [shipsLeft]="battleshipCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Carrier form -->
      <div class="mb-3">
        <positioning-phase-form
          [shipType]="'Carrier'"
          [shipsLeft]="carrierCount"
          [deployShip]="deployShip"
        ></positioning-phase-form>
      </div>
    </div>
  </div>
</div>
