<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- table1 -->
      <div class="card card-body mt-3">
        <table class="table table-fixed align-middle table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th
                scope="col"
                *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
              >
                {{ col }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let row of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
              "
            >
              <th scope="row">{{ row }}</th>
              <td
                *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                id="{{ parseRow(row) * 10 + col }}"
              ></td>
            </tr>
          </tbody>
        </table>
        <!-- end table1 -->
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-body mt-3">
        <div class="d-grid gap-2">
          <h6>Destroyer</h6>
          <mdb-form-control>
            <input
              mdbInput
              [formControl]="rowField"
              type="number"
              id="row"
              class="form-control"
              required
            />
            <label mdbLabel class="form-label" for="row">Row</label>
          </mdb-form-control>
          <mdb-form-control class="mt-2">
            <input
              mdbInput
              [formControl]="colField"
              type="number"
              id="col"
              class="form-control"
              required
            />
            <label mdbLabel class="form-label" for="col">Column</label>
          </mdb-form-control>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Coordinates
<footer class="card fixed-bottom">
  <div class="card-body d-flex">
    <mdb-form-control class="flex-fill me-2">
      <input
        mdbInput
        [formControl]="rowField"
        type="number"
        id="row"
        class="form-control"
        required
      />
      <label mdbLabel class="form-label" for="row">Row</label>
    </mdb-form-control>
    <mdb-form-control class="flex-fill me-2">
      <input
        mdbInput
        [formControl]="colField"
        type="number"
        id="col"
        class="form-control"
        required
      />
      <label mdbLabel class="form-label" for="col">Column</label>
    </mdb-form-control>
    <button mdbRipple class="btn btn-primary">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</footer>
 -->
