<div class="container">
  <div class="card col-md-6 offset-md-3 mt-3">
    <div class="card-body py-3">
      <h6 class="mb-2 mb-sm-0 mt-1 d-flex">
        <strong><i class="fas fa-gamepad me-2"></i>Active games</strong>
        <button
          class="btn-transparent ms-auto"
          [attr.aria-expanded]="!basicCollapse.collapsed"
          (click)="basicCollapse.toggle()"
        >
          <i class="fas fa-angle-down"></i>
        </button>
      </h6>
    </div>
  </div>

  <!-- Div collapsed -->
  <div
    class="card col-md-6 offset-md-3 mt-3"
    mdbCollapse
    #basicCollapse="mdbCollapse"
  >
    <div class="card-body">
      <p class="card-text text-center" *ngIf="matches.length === 0">
        No active matches.
      </p>

      <table
        class="table text-center align-middle mb-0 bg-white table-borderless"
        *ngIf="matches.length > 0"
      >
        <thead>
          <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matches">
            <td>
              {{ match.player1.playerUsername }}
            </td>
            <td>
              {{ match.player2.playerUsername }}
            </td>
            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="watchGame(match)"
              >
                <i class="far fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
