<div class="container">
  <div
    class="card col-md-6 offset-md-3 mt-3 card-body text-center"
    *ngIf="matches.length === 0"
  >
    <p class="card-text">No games available</p>
  </div>
  <div class="card col-md-6 offset-md-3 mt-3" *ngFor="let match of matches">
    <div class="card-body">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item flex-fill">
          {{ match.player1.playerUsername }}
        </li>
        <li class="list-group-item flex-fill">
          {{ match.player2.playerUsername }}
        </li>
        <li class="list-group-item flex-fill"></li>
      </ul>
      <!--
        <div class="d-flex">
          <h5>
            {{ match.player1.playerUsername }} vs
            {{ match.player2.playerUsername }}
          </h5>
          <button class="btn btn-link ms-auto"><i class="fas fa-eye"></i></button>
        </div>

      -->
    </div>
  </div>
</div>
