<div class="container">
  <h1 class="h5 text-center py-5 mb-0">Chats</h1>
  <section>
    <div
      class="card col-md-6 offset-md-3 text-center"
      *ngIf="relationships.length === 0"
    >
      <div class="card-body">
        <p class="card-text">No chat found.</p>
      </div>
    </div>
    <div *ngFor="let relationship of relationships">
      <div
        class="card col-md-6 offset-md-3 mb-3"
        (click)="openChat(relationship.chatId)"
      >
        <a role="button">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="flex-column">
                <h5 class="card-title">{{ relationship.friendId.username }}</h5>
                <p class="card-text">{{ this.lastMessage }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
