<div class="container">
  <h1 class="display-5 text-center py-5 mb-0">Chats</h1>
  <section>
    <div
      class="card col-md-6 offset-md-3 text-center"
      *ngIf="chats.length === 0"
    >
      <div class="card-body">
        <p class="card-text">No chat found.</p>
      </div>
    </div>
    <div *ngFor="let chat of chats">
      <div class="card col-md-6 offset-md-3 mb-3" (click)="openChat(chat._id)">
        <a role="button">
          <div class="card-body text-with-dots">
            <div class="d-flex align-items-center">
              <i class="fas fa-comment fa-xl ms-1 me-4"></i>
              <div class="flex-column">
                <h5 class="card-title">
                  {{
                    chat.users[0] === this.accountService.getUsername()
                      ? chat.users[1]
                      : chat.users[0]
                  }}
                </h5>
                <p class="card-text" *ngIf="chat.messages.length > 0">
                  {{
                    chat.messages[chat.messages.length - 1].author ===
                    this.accountService.getUsername()
                      ? "You"
                      : chat.messages[chat.messages.length - 1].author
                  }}:
                  {{ chat.messages[chat.messages.length - 1].content }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
