<div class="container" style="padding-bottom: 100px">
  <div
    class="card mt-3"
    class="{{ cssClass(message) }}"
    *ngFor="let message of messages"
  >
    <div class="card-body">
      <h5 class="card-title">
        {{
          message.author === this.accountService.getUsername()
            ? "You"
            : friendName
        }}
      </h5>
      <div class="card-text">{{ message.content }}</div>
      <small>{{ message.date | date: "shortTime" }}</small>
    </div>
  </div>
</div>
<footer class="card fixed-bottom">
  <div class="card-body d-flex">
    <mdb-form-control class="flex-grow-1">
      <textarea
        mdbInput
        [formControl]="messageText"
        id="textArea"
        class="form-control"
        rows="1"
      ></textarea>
      <label mdbLabel class="form-label" for="textArea">Type a message</label>
    </mdb-form-control>
    <button mdbRipple class="btn btn-primary ms-2" (click)="sendMessage()">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</footer>
