<div class="container">
  <section class="my-5 text-center">
    <h1 class="display-1">Welcome to Battleship!</h1>
    <p class="mb-3">Log in with your credentials or create a new account</p>
  </section>
  <div class="card col-md-6 offset-md-3 mt-5 shadow-5">
    <mdb-tabs class="ms-2 p-3" [pills]="true" [justified]="true">
      <mdb-tab title="Login">
        <login></login>
      </mdb-tab>
      <mdb-tab title="Register">
        <register></register>
      </mdb-tab>
    </mdb-tabs>
  </div>
</div>
