<div class="card col-md-6 offset-md-3 mt-5 shadow-5">
  <form [formGroup]="form">
    <div class="d-grid gap-3 me-2">
      <mdb-form-control>
        <input
          mdbInput
          type="text"
          id="newPassword"
          class="form-control"
          formControlName="newPassword"
          required
        />
        <label mdbLabel class="form-label" for="newPassword"
          >New password</label
        >
      </mdb-form-control>
      <mdb-form-control>
        <input
          mdbInput
          type="password"
          id="repeatPassword"
          class="form-control"
          formControlName="password"
          required
        />
        <label mdbLabel class="form-label" for="repeatPassword"
          >Repeat password</label
        >
      </mdb-form-control>
      <button mdbRipple class="btn btn-primary mb-2" (click)="submit()">
        Update
      </button>
    </div>
  </form>
</div>
