<div class="container">
  <div class="card col-md-6 offset-md-3 mt-5 shadow-5">
    <h6 class="card-header">
      <strong><i class="fas fa-unlock me-2"></i>Update password</strong>
    </h6>
    <div class="card-body">
      <form [formGroup]="passwordForm">
        <div class="d-grid gap-3 me-2">
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="currentPassword"
              class="form-control"
              formControlName="currentPassword"
              required
            />
            <label mdbLabel class="form-label" for="currentPassword"
              >Current password</label
            >
          </mdb-form-control>
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="newPassword"
              class="form-control"
              formControlName="newPassword"
              required
            />
            <label mdbLabel class="form-label" for="newPassword"
              >New password</label
            >
          </mdb-form-control>
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="repeatPassword"
              class="form-control"
              formControlName="repeatPassword"
              required
            />
            <label mdbLabel class="form-label" for="repeatPassword"
              >Repeat password</label
            >
          </mdb-form-control>
          <button mdbRipple class="btn btn-primary mb-2" (click)="submit()">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
