<div class="container" *ngIf="!matchLoading">
  <!-- Error -->
  <div
    class="card card-body border border-danger text-danger mt-3"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </div>
  <div
    class="card card-body border border-info text-info mt-3"
    *ngIf="infoMessage"
  >
    {{ infoMessage }}
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card mt-3 w-100" style="height: 650px">
        <div class="card-body">
          <!-- table -->
          <grid [parseRow]="parseRow" [tableName]="''"></grid>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex">
            <button class="btn btn-danger flex-fill me-2" (click)="reset()">
              <i class="fas fa-broom me-2"></i>Reset
            </button>
            <button class="btn btn-success flex-fill" (click)="ready()">
              <i class="fas fa-play me-2"></i>Ready
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <!-- Destroyer form -->
      <positioning-phase-form
        [shipType]="'Destroyer'"
        [shipsLeft]="destroyerCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Cruiser form -->
      <positioning-phase-form
        [shipType]="'Cruiser'"
        [shipsLeft]="cruiserCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Battleship form -->
      <positioning-phase-form
        [shipType]="'Battleship'"
        [shipsLeft]="battleshipCount"
        [deployShip]="deployShip"
      ></positioning-phase-form>

      <!-- Carrier form -->
      <div class="mb-3">
        <positioning-phase-form
          [shipType]="'Carrier'"
          [shipsLeft]="carrierCount"
          [deployShip]="deployShip"
        ></positioning-phase-form>
      </div>
    </div>
  </div>
</div>

<waiting-opponent *ngIf="matchLoading"></waiting-opponent>
<router-outlet></router-outlet>
