<div class="container">
  <div class="card col-md-6 offset-md-3 mt-3">
    <div class="table-responsive">
      <table class="table align-middle text-center mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Ban</th>
            <th>Chat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <button class="btn-transparent" (click)="openUserStats(user)">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="fw-bold mb-1">{{ user.username }}</p>
                    <p class="text-muted mb-0">{{ user.email }}</p>
                  </div>
                </div>
              </button>
            </td>
            <td>
              <span
                [ngClass]="{
                  'badge-success': user.status === 'Active',
                  'badge-warning': user.status === 'Pending'
                }"
                class="badge rounded-pill d-inline"
                >{{ user.status }}</span
              >
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-rounded btn-sm me-2"
                mdbRipple
                rippleColor="dark"
                (click)="deleteUser(user._id)"
              >
                <i class="fas fa-ban me-1"></i>
                DELETE
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-rounded btn-sm"
                mdbRipple
                rippleColor="dark"
                (click)="openChat(user.username)"
              >
                <i class="fas fa-comment me-1"></i>
                CHAT
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
