<div class="container">
  <h1 class="display-5 text-center py-5 mb-0">User management</h1>
  <section>
    <div class="card">
      <div class="table-responsive">
        <table class="table text-center align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <button class="btn-transparent" (click)="openUserStats(user)">
                  <p class="fw-bold mb-1">{{ user.username }}</p>
                  <p class="text-muted mb-0">{{ user.email }}</p>
                </button>
              </td>
              <td>
                <span
                  [ngClass]="{
                    'badge-success': user.status === 'Active',
                    'badge-warning': user.status === 'Pending'
                  }"
                  class="badge rounded-pill d-inline"
                  >{{ user.status }}</span
                >
              </td>
              <td>
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="deleteUser(user._id)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="openChat(user.username)"
                >
                  <i class="far fa-comment-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
