<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand mb-1" routerLink="/home">Home</a>
    </div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/friends">
          <span><i class="fas fa-user-friends fa-fw"></i></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/chats">
          <span><i class="fas fa-comments fa-fw"></i></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/notifications">
          <span><i class="fas fa-bell fa-fw"></i></span>
          <span
            *ngIf="notifications.length > 0"
            class="badge rounded-pill badge-notification bg-danger"
            >{{ notifications.length }}</span
          >
        </a>
      </li>
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <span>{{ accountService.getUsername() }}</span>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end shadow-5"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <button class="dropdown-item" routerLink="/profile">
              <i class="fas fa-user me-3"></i>My profile
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              *ngIf="
                this.accountService.isModerator() ||
                this.accountService.isAdmin()
              "
              routerLink="/admin-dashboard"
            >
              <i class="fas fa-hammer me-3"></i>Admin dashboard
            </button>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <button class="dropdown-item" (click)="this.authService.logout()">
              <i class="fas fa-sign-out-alt me-3"></i>Logout
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
