<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand me-2 mb-1 d-flex align-items-center"
      routerLink="/home"
      >Home</a
    >

    <ul class="navbar-nav flex-row">
      <!-- Profile -->
      <li mdbDropdown class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center dropdown-toggle hidden-arrow"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
        >
          <img
            src="https://mdbootstrap.com/img/new/avatars/1.webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">{{ username }}</strong>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" role="button" routerLink="/profile"
              ><i class="fas fa-user me-3"></i>My profile</a
            >
          </li>
          <li *ngIf="isAdminOrModerator">
            <a class="dropdown-item" role="button" routerLink="/admin-dashboard"
              ><i class="fas fa-hammer me-3"></i>User management</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" role="button" (click)="logout()"
              ><i class="fas fa-sign-out-alt me-3"></i>Logout</a
            >
          </li>
        </ul>
      </li>

      <!-- Relationships -->
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/relationships">
          <span><i class="fas fa-user-friends fa-lg fa-fw"></i></span>
        </a>
      </li>

      <!-- Chats -->
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/chats">
          <span><i class="fas fa-comments fa-lg fa-fw"></i></span>
        </a>
      </li>

      <!-- Notifications -->
      <li class="nav-item me-1">
        <a class="nav-link" routerLink="/notifications">
          <i class="fas fa-bell fa-lg fa-fw"></i>
          <span
            class="badge rounded-pill badge-notification bg-danger"
            *ngIf="notifications.length > 0"
            >{{ notifications.length }}</span
          >
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
