<form [formGroup]="form">
  <div class="d-grid gap-3 me-2">
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        id="loginEmail"
        class="form-control"
        formControlName="email"
        required
      />
      <label mdbLabel class="form-label" for="loginEmail">Email</label>
    </mdb-form-control>
    <mdb-form-control>
      <input
        mdbInput
        type="password"
        id="loginPassword"
        class="form-control"
        formControlName="password"
        required
      />
      <label mdbLabel class="form-label" for="loginPassword">Password</label>
    </mdb-form-control>
    <div class="form-check">
      <input
        mdbCheckbox
        class="form-check-input"
        type="checkbox"
        id="remember"
        formControlName="remember"
      />
      <label class="form-check-label" for="remember">Remember me</label>
    </div>
    <button mdbRipple class="btn btn-primary mb-2" (click)="submit()">
      Sign in
    </button>
    <div
      *ngIf="errorMessage"
      class="card card-body border border-danger text-danger mt-1 mb-3"
    >
      {{ errorMessage }}
    </div>
  </div>
</form>
