<div class="container py-4">
  <div class="card sticky-top">
    <div class="card-body py-3">
      <div class="row">
        <div class="col-sm-6 text-center text-sm-start">
          <h5 class="mb-3 mb-sm-0 mt-1" *ngIf="opponentPlayer">
            Playing against {{ opponentPlayer.playerUsername }}
          </h5>
        </div>
        <div class="col-sm-6 text-center text-sm-end">
          <button
            type="button"
            class="btn btn-primary me-2"
            (click)="openChat()"
          >
            <i class="fas fa-comment me-2"></i>Chat
          </button>
          <button type="button" class="btn btn-danger" (click)="leaveMatch()">
            <i class="fas fa-sign-out-alt me-2"></i>Leave
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Error message -->
  <div class="card bg-danger text-white mt-3 shadow-5" *ngIf="errorMessage">
    <div class="card-body">
      <strong>{{ errorMessage }}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card w-100 mt-3" style="height: 650px">
        <div class="card-body">
          <!-- table1 -->
          <table
            class="table align-middle text-center table-bordered h-100 w-100"
          >
            <tbody>
              <tr
                *ngFor="
                  let row of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
                "
              >
                <th scope="row">{{ row }}</th>
                <td
                  *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                  id="table1{{ parseRow(row) * 10 + col }}"
                ></td>
              </tr>
              <tr>
                <th scope="col">#</th>
                <th
                  scope="col"
                  *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                >
                  {{ col }}
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-6 mt-3">
      <div class="card w-100" style="height: 650px">
        <div class="card-body">
          <!-- table2 -->
          <table
            class="table align-middle text-center table-bordered h-100 w-100"
          >
            <tbody>
              <tr
                *ngFor="
                  let row of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
                "
              >
                <th scope="row">{{ row }}</th>
                <td
                  *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                  id="table2{{ parseRow(row) * 10 + col }}"
                ></td>
              </tr>
              <tr>
                <th scope="col">#</th>
                <th
                  scope="col"
                  *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
                >
                  {{ col }}
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Shot field -->
  <div *ngIf="isMyTurn && !winnerPlayer">
    <div class="card mt-3">
      <h6 class="card-header">
        <strong><i class="fas fa-map-marked me-2"></i>Enter coordinates</strong>
      </h6>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-10 text-center text-sm-start" style="padding: 0">
            <div class="d-flex mb-1 mb-sm-0 p-1">
              <mdb-form-control class="me-2 flex-fill">
                <input
                  mdbInput
                  [formControl]="rowField"
                  type="text"
                  id="row"
                  class="form-control"
                  required
                />
                <label mdbLabel class="form-label" for="row">Row</label>
              </mdb-form-control>
              <mdb-form-control class="flex-fill">
                <input
                  mdbInput
                  [formControl]="colField"
                  type="number"
                  id="col"
                  class="form-control"
                  required
                />
                <label mdbLabel class="form-label" for="col">Column</label>
              </mdb-form-control>
            </div>
          </div>
          <div class="col-sm-2 ms-0 d-flex text-sm-end p-1" style="padding: 0">
            <button
              type="button"
              class="btn btn-primary flex-fill"
              (click)="shoot()"
            >
              Shoot
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Info message -->
  <div *ngIf="!isMyTurn || winnerPlayer">
    <div class="card bg-info text-white mt-3 mb-3 shadow-5">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <strong>{{ infoMessage }}</strong>
          <div
            class="spinner-border ms-auto"
            role="status"
            aria-hidden="true"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
