<div class="container">
  <div
    class="card card-body border border-danger text-danger mt-3"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card mt-3 w-100" style="height: 650px">
        <div class="card-body">
          <!-- table1 -->
          <grid [parseRow]="parseRow" [tableName]="'table1'"></grid>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card mt-3 w-100" style="height: 650px">
        <div class="card-body">
          <!-- table2 -->
          <grid [parseRow]="parseRow" [tableName]="'table2'"></grid>
        </div>
      </div>
    </div>
  </div>

  <!-- Shot field -->
  <div *ngIf="isMyTurn && !winnerPlayer">
    <div class="row mt-3 mb-3">
      <div class="col">
        <div class="card">
          <h6 class="card-header"><strong>Enter coordinates</strong></h6>
          <div class="card-body">
            <div class="row">
              <div class="col-xl-11 p-2">
                <div class="d-flex w-100">
                  <mdb-form-control class="flex-fill">
                    <input
                      mdbInput
                      [formControl]="rowField"
                      type="text"
                      id="row"
                      class="form-control"
                      required
                    />
                    <label mdbLabel class="form-label" for="row">Row</label>
                  </mdb-form-control>
                  <mdb-form-control class="flex-fill ms-3">
                    <input
                      mdbInput
                      [formControl]="colField"
                      type="number"
                      id="col"
                      class="form-control"
                      required
                    />
                    <label mdbLabel class="form-label" for="col">Column</label>
                  </mdb-form-control>
                </div>
              </div>

              <div class="col-xl-1 p-2">
                <button class="btn btn-primary w-100" (click)="shoot()">
                  Shoot
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isMyTurn || winnerPlayer">
    <div class="card card-body border border-info text-info mt-3 mb-3">
      {{ infoMessage }}
    </div>
  </div>
</div>
